.chatForm {
  display: flex;
  justify-content: space-between;
}

.buttomPost {
  padding: 10px 20px 10px 20px;
  background: lightskyblue;
  border-radius: 5px;
  border-color: dodgerblue;
}

.buttomPost:hover {
  cursor: pointer;
}