.container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  min-height: 400px;
  height: 40vh;
  /*overflow-y: scroll;*/
  overflow: auto;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  background-color: rgba(0, 0, 0, .5);
}

.container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.container::-webkit-scrollbar:vertical {
  width: 11px;
}

.container::-webkit-scrollbar:horizontal {
  height: 11px;
}

.antListItem {
  display: block !important;
}
/*scss or less*/
/*.antListItem {*/
/*  :global {*/
/*    .ant-list-item {*/
/*      display: block;*/
/*    }*/
/*  }*/
/*}*/